.img1 {
    background: url(../images/01.jpg) no-repeat center center;
}

.img2 {
    background: url(../images/02.jpg) no-repeat center center;
}

.img3 {
    background: url(../images/03.jpg) no-repeat center center;
}